.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0;  margin: 0;
  width: 85px; height: 100vh;
}
.wd-kanbas-navigation li {
  padding: 10px;     margin-bottom: 10px;
  font-size: 0.7em;  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation li.wd-accent a i {
  color: grey;
}

.wd-kanbas-navigation img {
  width: 60px;
}
